@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 #afafaf;
            box-shadow: 0 0 0 0 #afafaf;
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 #afafaf;
            box-shadow: 0 0 0 0 #afafaf;
  }
}

@-webkit-keyframes heroTextAppear {
  from {
    margin-top: 300px;
    -webkit-transform: scale(10%);
            transform: scale(10%);
  }
  to {
    margin-top: 0;
  }
}

@keyframes heroTextAppear {
  from {
    margin-top: 300px;
    -webkit-transform: scale(10%);
            transform: scale(10%);
  }
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes upNdown {
  from {
    top: calc(100% + 35px);
  }
  to {
    top: calc(100% + 45px);
  }
}

@keyframes upNdown {
  from {
    top: calc(100% + 35px);
  }
  to {
    top: calc(100% + 45px);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #fff9d7;
  line-height: 70px;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
}

nav .nav-icon {
  float: left;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

nav .nav-icon,
nav .nav-icon img {
  width: 70px;
  height: 70px;
}

nav .nav-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav .nav-items {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  letter-spacing: 2px;
  font-weight: 800;
}

nav .nav-items .dropdown {
  display: inline-block;
  position: relative;
}

nav .nav-items .dropdown i {
  padding-left: 4px;
}

nav .nav-items .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

nav .nav-items .dropdown-content a {
  font-family: 'Raleway', sans-serif;
  width: 200px;
  line-height: 25px;
  font-size: 13px;
  color: #707070;
  padding: 9px 32px;
  text-decoration: none;
  display: block;
  border: none;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

nav .nav-items .dropdown-content a:hover {
  background-color: #ececec;
  color: black;
}

nav .nav-items .dropdown-content .active-exercise {
  background-color: #333 !important;
  color: white !important;
}

nav .nav-items .dropdown:hover .dropdown-content {
  display: block;
}

nav .nav-items .dropdown:hover i {
  -webkit-transform-origin: 57% 67%;
          transform-origin: 57% 67%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .nav-items a {
  position: relative;
  padding: 0 25px;
  text-decoration: none;
  color: #525252;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  border-right: 1px solid gray;
}

nav .nav-items a i {
  top: 0;
  position: absolute;
}

nav .nav-items > a:hover,
nav .dropdown:hover > a {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  color: black;
}

nav .metronome-btn {
  position: absolute;
  width: 200px;
  height: 70px;
  top: 0;
  right: 30px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2.4px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: none;
}

nav .toggle-btn-container {
  padding-left: 10px;
  position: absolute;
  width: 40px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 15px;
}

nav .toggler {
  display: block;
  width: 40px;
  height: 20px;
  background-color: black;
  border-radius: 15px;
  padding: 0.8px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

nav .toggler .inner-circle {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in-out, margin-left 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, margin-left 0.2s ease-in-out;
}

.toggler.active > .inner-circle {
  margin-left: 20px;
  background-color: #fff9d7;
}

.nav-btn {
  position: absolute;
  top: 0;
  right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 70px;
}

.nav-hamburger {
  visibility: hidden;
  font-size: 25px;
  z-index: 10;
  color: black;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.nav-hamburger:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.close-menu-btn {
  font-size: 35px;
  color: white;
}

.metronome-toggle__responsive i {
  margin: 5px 0 0 8px;
}

.hamburger__menu {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  opacity: 0.88;
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(99%, black), to(transparent));
  background: linear-gradient(180deg, black 99%, transparent);
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.menu__list {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
  list-style: none;
  color: white;
  white-space: nowrap;
}

.menu__list i {
  position: absolute;
  padding: 20px 0 0 8px;
}

.menu__list li span {
  display: inline-block;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu__list li span a {
  text-decoration: none;
  color: white;
}

.menu__list li span a:hover {
  color: #fffaea;
}

.menu__list li span:hover {
  color: #fffaea;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu__list:last-child {
  padding-bottom: 10px;
}

.dropdown-responsive {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.dropdown-responsive .active-exercise {
  color: gray;
}

.drp-down__active {
  display: block;
  max-height: 300px;
  -webkit-transition: max-height 0.8s ease-out;
  transition: max-height 0.8s ease-out;
}

.dropdown-responsive a {
  display: block;
  line-height: 30px;
  text-decoration: none;
  color: #fff9d7;
  background-color: transparent;
  text-transform: none;
  font-size: 15px;
  font-weight: bold;
}

.dropdown-responsive__btn {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}

.dropdown-responsive__btn i {
  padding: 0 0 0 6px;
}

.rotate > i {
  -webkit-transform-origin: 65% 67%;
          transform-origin: 65% 67%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown-responsive__btn:hover {
  font-size: 24px;
  color: #fffaea;
}

header {
  position: relative;
  background-image: url("../img/header3.jpg");
  height: 358px;
  overflow: hidden;
}

header .hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

header .hero-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: heroTextAppear 1s;
          animation: heroTextAppear 1s;
}

header .hero-text h1 {
  color: #fff9d7;
  font-family: 'Mrs Sheppards', cursive;
  text-shadow: 9px 9px 9px black;
  font-size: 48px;
  letter-spacing: 5px;
}

header .hero-text p {
  color: #fdfaee;
  font-family: 'Teko', sans-serif;
  font-size: 32px;
  text-shadow: -4px 1px 1px black;
  letter-spacing: 3px;
  text-transform: uppercase;
}

header,
.metronome-bg,
.steps-list li {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  font-family: 'Lato', sans-serif;
}

.main-content > section,
.main-content > #home {
  padding-top: 50px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 2em;
}

.container h4 {
  margin-top: 30px;
  font-size: 24px;
  text-shadow: -1px 1px 1px black;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}

.section-title span {
  font-family: 'Mrs Sheppards', cursive;
  letter-spacing: 4px;
  font-size: 28px;
  text-transform: none;
}

.section-title ~ p {
  margin-top: 40px;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-weight: 400;
}

.how-to-start .container {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 4px solid black;
}

.roadmap {
  margin-top: 100px;
}

.roadmap .section-title {
  font-size: 24px;
}

.steps-list li {
  margin: 120px 0;
  position: relative;
  padding: 80px 1em;
  -webkit-box-shadow: -2px -2px 5px black;
          box-shadow: -2px -2px 5px black;
}

.steps-list li:nth-child(2n) .step {
  margin-left: auto;
  margin-right: 0;
}

.steps-list li:first-child {
  background-image: url("../img/step1.jpg");
}

.steps-list li:nth-child(2) {
  background-image: url("../img/step2.jpg");
}

.steps-list li:nth-child(3) {
  background-image: url("../img/step3.jpg");
}

.steps-list li:nth-child(4) {
  background-image: url("../img/step4.jpg");
}

.steps-list li:last-child {
  margin-bottom: 0;
}

.steps-list li:not(:last-child):after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-top: 45px solid black;
  border-right: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 45px solid transparent;
  top: calc(100% + 40px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: upNdown 1s infinite alternate;
          animation: upNdown 1s infinite alternate;
}

.steps-list .step {
  max-width: 800px;
  padding: 30px;
  background-color: #333;
  color: white;
  line-height: 40px;
  border-radius: 20px;
  opacity: 0.86;
  -webkit-box-shadow: 0px 0px 44px black;
          box-shadow: 0px 0px 44px black;
}

.steps-list .step a {
  text-decoration: none;
  color: #fff9d7;
  font-weight: bold;
}

.metronome__container {
  height: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.metronome-bg {
  position: absolute;
  background-image: url("../img/metronome.jpg");
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
  max-height: 450px;
  height: 450px;
  width: 100%;
  opacity: 0.3;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

.metronome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 550px;
  max-height: 380px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  padding: 0 15px;
}

.bpm-display {
  width: 100%;
  text-align: center;
  color: #faf5a7;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-shadow: -1px 4px 5px black;
}

.bpm-display .tempo {
  font-size: 6em;
}

.bpm-display .bpm {
  font-size: 24px;
}

.tempo-text {
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
}

.tempo-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tempo-settings .adjust-tempo-btn {
  width: 30px;
  height: 30px;
  font-size: 40px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
  background-color: black;
  color: #fff9d7;
}

.tempo-settings .decrease-tempo {
  line-height: 23px;
}

.tempo-settings .increase-tempo {
  line-height: 24px;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: transparent;
  width: 70%;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  margin-top: -8px;
}

input[type='range']::-focus {
  outline: none;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  border: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: black;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 2px;
  background: black;
}

.start-stop {
  width: 60px;
  height: 60px;
  font-size: 0.9em;
  text-align: center;
  background: black;
  border-radius: 50%;
  color: #fff;
  line-height: 60px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: 0.6s background-color;
  transition: 0.6s background-color;
}

.start-stop:hover {
  background: #fff9d7;
  color: black;
}

.measures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.measures .stepper {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
  line-height: 35px;
  font-size: 2em;
}

.measures .stepper:hover {
  background: black;
  color: #fff9d7;
}

.measures .subtract-beats,
.measures .add-beats {
  line-height: 28px;
}

.measure-count {
  font-size: 2.3em;
  margin: 0 20px;
}

.beats-per-measure-text {
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
}

.part-2 {
  padding-top: 40px;
  background-color: #f3f3f3;
}

.section-subtitle {
  margin-top: 60px;
  font-size: 22px;
}

.strings {
  position: relative;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.strings img {
  max-width: 600px;
  width: 100%;
  border: 4px solid black;
}

.strings .source {
  text-align: center;
  position: absolute;
  bottom: 10px;
  text-shadow: 1px 1px 1px black;
}

.tune img {
  margin-top: 40px;
}

.tune p {
  text-shadow: 1px 1px 1px black;
}

.film {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.film iframe {
  width: 100%;
  height: 300px;
}

.film + h2 {
  margin-top: 80px;
}

.last-paragraph {
  padding-bottom: 40px;
}

.exercise .container img {
  margin: 40px 0;
}

footer {
  padding: 2em 1em;
  text-align: center;
  background-color: #555;
  color: #fff9d7;
  font-family: 'Nunito', sans-serif;
  line-height: 40px;
}

footer p .links {
  font-family: 'Mrs Sheppards', cursive;
  font-size: 24px;
  padding: 0 20px;
  border-right: 2px solid #fff9d7;
  letter-spacing: 3px;
}

footer p .links i {
  padding: 0 10px;
}

footer p .links a {
  text-decoration: none;
  color: #fff9d7;
}

@media (max-width: 768px) {
  header .hero-text h1 {
    font-size: 36px;
  }
  header .hero-text p {
    font-size: 24px;
  }
  .section-title {
    font-size: 24px;
  }
  .section-title ~ p {
    font-size: 15px;
    margin-top: 33px;
    letter-spacing: 1.4px;
    line-height: 1.45;
  }
  .about {
    padding: 30px 0;
  }
  .how-to-start .container {
    margin-top: 25px;
  }
  .step p {
    line-height: 30px;
  }
  footer .copyright {
    font-size: 13px;
  }
  footer p .links {
    font-size: 16px;
    padding: 0 15px;
    border-right: 1px solid #fff9d7;
    letter-spacing: 2px;
  }
}

@media (max-width: 992px) {
  .nav-items,
  .metronome-btn {
    visibility: hidden;
  }
  .nav-hamburger {
    visibility: visible;
  }
}

@media (min-width: 993px) {
  .hamburger__menu {
    width: 0 !important;
  }
  .close-menu-btn {
    visibility: hidden !important;
  }
}

@media (max-width: 1200px) {
  .nav-items a {
    font-size: 14px;
  }
  .tune {
    position: relative;
  }
  .tune h3 {
    text-align: center;
  }
  .tune img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .tune p {
    text-shadow: 1px 1px 1px black;
    text-align: center;
  }
}

.hide-metronome,
.hide-home,
.hide {
  display: none;
}

.hide-menu {
  width: 0;
}

.hidden {
  visibility: hidden;
}

.z-increased {
  z-index: 10;
}

.strong {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */